@page
@using CutOverlay.Models
@model CutOverlay.Pages.ClockModel
@{
}

<div class="panelItem" style="width: 180px;">
    @await Html.PartialAsync("_StylizedHeader", new TextModel
           {
               Text = Model.TimeZoneString,
               StyleId = "timezoneText",
               Align = Align.Center
           })

    @await Html.PartialAsync("_StylizedText", new TextModel
           {
               Text = "",
               StyleId = "clockText",
               Align = Align.Center
           })
</div>

<script src="~/js/songStatus.js"></script>
<script type="text/javascript" src="js/clock.js"></script>