@page
@using CutOverlay.Models
@model CutOverlay.Pages.FollowSubsModel
@{
}

<div style="display: flex;flex-flow: row;position: absolute;transition: 0.4s;width: calc(100% - 10px);">
    <div class="panelItem" style="margin-left: auto;">
        @await Html.PartialAsync("_StylizedHeader", new TextModel
               {
                   Text = "Latest Follow",
                   StyleId = "lastFollowHeader",
                   Align = Align.Right
               })
        @await Html.PartialAsync("_StylizedText", new TextModel
               {
                   Text = "",
                   StyleId = "lastFollowText",
                   Align = Align.Right
               })
    </div>

    <div class="panelItem" style="margin-left: 50px;">
        @await Html.PartialAsync("_StylizedHeader", new TextModel
               {
                   Text = "Latest Sub",
                   StyleId = "lastSubHeader",
                   Align = Align.Right
               })
        @await Html.PartialAsync("_StylizedText", new TextModel
               {
                   Text = "",
                   StyleId = "lastSubText",
                   Align = Align.Right
               })
    </div>
</div>

<script src="~/js/site.js"></script>