@page
@using CutOverlay.Models
@model IndexModel
@{
}

<link rel="stylesheet" href="css/settings.css">

<script src="~/js/settings.js"></script>

<div id="settingsPanel" class="draggableWindow" style="height: 664px; left: 010px; top: 93px; width: 553px;">
    <div id="settingsPanelHeader" class="draggableWindowHeader">
        <span>Options</span>
        <span class="closeWindowButton" onclick="showWindow('settingsPanel', false)"></span>
    </div>
    <div id="settingsPanelContent" class="draggableWindowContent">
        <div class="settingsSection">

            
            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Twitch"
                   })

            @await Html.PartialAsync("_Checkbox", new InputModel
                   {
                       Label = "Use Twitch Chat",
                       Id = "twitchChat",
                       Value = "true"
                   })

            @await Html.PartialAsync("_Checkbox", new InputModel
                   {
                       Label = "7TV Integration",
                       Id = "use7TV",
                       Value = "true"
                   })
            <div style="margin-left: 30px;">
                @await Html.PartialAsync("_Checkbox", new InputModel
                       {
                           Label = "Enable Emotes",
                           Id = "use7TVemotes",
                           Value = "true"
                       })
                @await Html.PartialAsync("_Checkbox", new InputModel
                       {
                           Label = "Enable User Badges",
                           Id = "use7TVbadges",
                           Value = "true"
                       })
                @await Html.PartialAsync("_Checkbox", new InputModel
                       {
                           Label = "Enable User Paints",
                           Id = "use7TVpaints",
                           Value = "true"
                       })
            </div>

            @await Html.PartialAsync("_Checkbox", new InputModel
                   {
                       Label = "BetterTTV Integration",
                       Id = "userBetterTTV",
                       Value = "true"
                   })

            @await Html.PartialAsync("_Checkbox", new InputModel
                   {
                       Label = "FrankerFaceZ Integration",
                       Id = "useFrankerFaceZ",
                       Value = "true"
                   })

            <hr/>


            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Spotify"
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "This client information can be found in the Spotify Developer Dashboard under your apps settings."
                   })
            @await Html.PartialAsync("_TextField", new InputModel
                   {
                       Label = "Spotify Client ID",
                       Id = "spotifyClientId",
                       Value = ""
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Spotify Client Secret",
                       Id = "spotifyClientSecret",
                       Value = ""
                   })

            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "CUT Overlay requires a Spotify app for it to function properly (not the Spotify client). A new app has to be created in the Spotify Developer Dashboard, open the dashboard by clicking the button below. You may need to log in to Spotify."
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "Add the following URI to the \"Redirect URI\":"
                   })
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "spotifyCallbackCopy",
                       Value = $"http://localhost:{Globals.Port}/spotify/callback",
                       Label = "Click below to copy!"
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "spotifyDashboard",
                       Value = "Open Spotify Dashboard",
                       OnClick = "spotifyDashboard()"
                   })

            <hr/>


            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Pulsoid"
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Pulsoid Access Token",
                       Id = "pulsoidAccessToken",
                       Value = ""
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "pulsoidDashboard",
                       Value = "Open Pulsoid Dashboard",
                       OnClick = "pulsoidDashboard()"
                   })
        </div>
    </div>
    <div id="settingsBottomBar" class="draggableWindowFooter">
        @await Html.PartialAsync("_Button", new InputModel
               {
                   Id = "saveSettings",
                   Value = "Save",
                   OnClick = "saveConfig()",
                   AlignContent = Align.None
               })
        <span id="saveStatus" class="saveStatus"></span>
    </div>
</div>

<div id="overlaysPanel" class="draggableWindow" style="height: 420px; left: 571px; top: 93px; width: 340px;">
    <div id="overlaysPanelHeader" class="draggableWindowHeader">
        <span>Overlays</span>
        <span class="closeWindowButton" onclick="showWindow('overlaysPanel', false)"></span>
    </div>
    <div id="overlaysPanelContent" class="draggableWindowContent" style="padding: 0;">
        <div class="settingsSection" style="padding: 10px 10px 0; margin: 0;">
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "Drag and drop these sources to OBS"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay1Copy",
                       Value = $"http://localhost:{Globals.Port}/Chat",
                       Icon = "comments",
                       Label = "Chat Box",
                       ObsSourceName = "CUT_ChatBox",
                       ObsSourceWidth = 500,
                       ObsSourceHeight = 980
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay2Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayWarning",
                       Icon = "quote-left",
                       Label = "Warning",
                       ObsSourceName = "CUT_Warning"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay3Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayStarting",
                       Icon = "quote-left",
                       Label = "Starting soon + Warning",
                       ObsSourceName = "CUT_StartingHeader"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay4Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayChat",
                       Icon = "window-maximize",
                       Label = "Panel + Background",
                       ObsSourceName = "CUT_PanelBackground"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay5Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayBrb",
                       Icon = "window-maximize",
                       Label = "BRB Screen",
                       ObsSourceName = "CUT_BRB"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay6Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayGame1",
                       Icon = "window-maximize",
                       Label = "Panel",
                       ObsSourceName = "CUT_Panel"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextFieldObs", new InputModelObs
                   {
                       Id = "overlay7Copy",
                       Value = $"http://localhost:{Globals.Port}/OverlayGame2",
                       Icon = "window-maximize",
                       Label = "No Panel (Clean)",
                       ObsSourceName = "CUT_CleanOverlay"
                   })
        </div>
    </div>
</div>

<div id="appsPanel" class="draggableWindow" style="height: 235px; left: 571px; top: 522px; width: 340px;">
    <div id="appsPanelHeader" class="draggableWindowHeader">
        <span>Services</span>
        <span class="closeWindowButton" onclick="showWindow('appsPanel', false)"></span>
    </div>
    <div id="appsPanelContent" class="draggableWindowContent" style="padding: 0;">
        @await Html.PartialAsync("_ServiceStatus", new ServiceStatus
               {
                   Id = "twitch",
                   Label = "Twitch"
               })

        @await Html.PartialAsync("_ServiceStatus", new ServiceStatus
               {
                   Id = "spotify",
                   Label = "Spotify"
               })

        @await Html.PartialAsync("_ServiceStatus", new ServiceStatus
               {
                   Id = "bsp",
                   Label = "BeatSaber+"
               })

        @await Html.PartialAsync("_ServiceStatus", new ServiceStatus
               {
                   Id = "pulsoid",
                   Label = "Pulsoid"
               })
    </div>
</div>
<!--<div id="debugPanel" class="draggableWindow" style="height: 235px; left: 571px; top: 522px; width: 340px;">
    <div id="debugPanelHeader" class="draggableWindowHeader">
        <span>Debug</span>
        <span class="closeWindowButton" onclick="showWindow('debugPanel', false)"></span>
    </div>
    <div id="debugPanelContent" class="draggableWindowContent">
        <div class="settingsSection">
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "chatDebug",
                       Value = "Chat Debug Messages",
                       OnClick = "fetch('twitch/chat/debug')",
                       AlignContent = Align.Stretch
                   })
        </div>
    </div>
</div>-->

<div id="toolbox" class="draggableWindow" style="height: 67px; left: 10px; max-height: 67px; min-height: 67px; min-width: 298px; top: 10px; width: 298px;">
    <div id="toolboxHeader" class="draggableWindowHeader">
        <span>Toolbox</span>
    </div>
    <div id="toolboxContent" class="draggableWindowContent" style="display: flex; flex-direction: row; padding: 5px;">
        @await Html.PartialAsync("_ToolboxButton", new InputModel
               {
                   Id = "toolboxSave",
                   Value = "icon-save.png",
                   OnClick = "saveConfig()"
               })
        @await Html.PartialAsync("_ToolboxButton", new InputModel
               {
                   Id = "toolboxOptions",
                   Value = "icon-settings.png",
                   OnClick = "showWindow('settingsPanel', true)"
               })
        @await Html.PartialAsync("_ToolboxButton", new InputModel
               {
                   Id = "toolboxOverlays",
                   Value = "icon-overlays.png",
                   OnClick = "showWindow('overlaysPanel', true)"
               })
        @await Html.PartialAsync("_ToolboxButton", new InputModel
                   {
                       Id = "toolboxInfo",
                       Value = "icon-apps.png",
                       OnClick = "showWindow('appsPanel', true)"
                   })
        @await Html.PartialAsync("_ToolboxButton", new InputModel
               {
                   Id = "toolboxInfo",
                   Value = "icon-info.png",
                   OnClick = "showWindow('infoPanel', true)"
               })
        <!--@await Html.PartialAsync("_ToolboxButton", new InputModel
               {
                   Id = "toolboxDebug",
                   Value = "icon-debug.png",
                   OnClick = "showWindow('debugPanel', true)"
        })-->
    </div>
</div>


<div id="infoPanel" class="draggableWindow" style="height: 350px; left: 100px; top: 100px; width: 560px;">
    <div id="infoPanelHeader" class="draggableWindowHeader">
        <span>About CUT Overlay</span>
        <span class="closeWindowButton" onclick="showWindow('infoPanel', false)"></span>
    </div>
    <div id="infoPanelContent" class="draggableWindowContent">
        @await Html.PartialAsync("_Header", new TextModel
               {
                   Text = "CUT Overlay"
               })
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = "Thank you for using CUT Overlay!"
               })
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = "Please configure the overlay using the 'Options' window."
               })
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = "The 'Overlays' window lists all of the overlays and their URL links. The links should be put inside web browser sources on OBS in order to be used."
               })
        <hr/>
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = Model.CopyrightString
               })
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = $"v{Model.Version}"
               })
        @await Html.PartialAsync("_Text", new TextModel
               {
                   Text = Model.LicenseInformation
               })
    </div>
    <div id="infoPanelBottomBar" class="draggableWindowFooter">
        @await Html.PartialAsync("_Button", new InputModel
               {
                   Id = "closeInfo",
                   Value = "Close",
                   OnClick = "showWindow('infoPanel', false)"
               })
    </div>
</div>

<script src="~/js/settingsWindowDrag.js"></script>