@page
@using CutOverlay.Models
@model CutOverlay.Pages.IndexModel
@{
}

<link rel="stylesheet" href="css/settings.css">

<script src="~/js/settings.js"></script>

<div id="settingsPanel" class="draggableWindow" style="width: 580px; height: 600px; top: 20px; left: 20px;">
    <div id="settingsPanelHeader" class="draggableWindowHeader">
        <span>Options</span>
    </div>
    <div id="settingsContent" class="draggableWindowContent">
        <div class="settingsSection">


            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Spotify"
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "This client information can be found in the Spotify Developer Dashboard under your apps settings."
                   })
            @await Html.PartialAsync("_TextField", new InputModel
                   {
                       Label = "Spotify Client ID",
                       Id = "spotifyClientId",
                       Value = ""
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Spotify Client Secret",
                       Id = "spotifyClientSecret",
                       Value = ""
                   })

            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "CUT Overlay requires a Spotify app for it to function properly (not the Spotify client). A new app has to be created in the Spotify Developer Dashboard, open the dashboard by clicking the button below. You may need to log in to Spotify."
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "Add the following URI to the \"Redirect URI\":"
                   })
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "spotifyCallbackCopy",
                       Value = "http://localhost:8001/configuration/SpotifyCallback",
                       Label = "Click below to copy!"
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "spotifyDashboard",
                       Value = "Open Spotify Dashboard",
                       OnClick = "spotifyDashboard()"
                   })

            <hr/>


            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Pulsoid"
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Pulsoid Access Token",
                       Id = "pulsoidAccessToken",
                       Value = ""
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "pulsoidDashboard",
                       Value = "Open Pulsoid Dashboard",
                       OnClick = "pulsoidDashboard()"
                   })
        </div>
    </div>
    <div id="settingsBottomBar" class="draggableWindowFooter">
        @await Html.PartialAsync("_Button", new InputModel
               {
                   Id = "saveSettings",
                   Value = "Save",
                   OnClick = "saveConfig()"
               })
    </div>
</div>

<div id="overlaysPanel" class="draggableWindow" style="width: 340px; height: 400px; top: 20px; left: 620px;">
    <div id="overlaysPanelHeader" class="draggableWindowHeader">
        <span>Overlays</span>
    </div>
    <div id="overlaysPanelContent" class="draggableWindowContent" style="padding: 0; width: 100%;">
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "overlay1Copy",
                       Value = "http://localhost:8001/OverlayStarting",
                       Label = "Starting soon"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "overlay2Copy",
                       Value = "http://localhost:8001/OverlayChat",
                       Label = "Chat"
                   })
        </div>
        <div class="overlayDiv">
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "overlay3Copy",
                       Value = "http://localhost:8001/OverlayGame1",
                       Label = "Game 1"
                   })
        </div>
    </div>
</div>

<script src="~/js/settingsWindowDrag.js"></script>
