@page
@using CutOverlay.Models
@model CutOverlay.Pages.IndexModel
@{
}

<link rel="stylesheet" href="css/settings.css">

<script src="~/js/settings.js"></script>

<div id="settingsPanel">
    <div id="settingsContent">
        <div class="settingsSection">

            
            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Spotify"
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "This client information can be found in the Spotify Developer Dashboard under your apps settings."
                   })
            @await Html.PartialAsync("_TextField", new InputModel
                   {
                       Label = "Spotify Client ID",
                       Id = "spotifyClientId",
                       Value = ""
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Spotify Client Secret",
                       Id = "spotifyClientSecret",
                       Value = ""
                   })

            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "CUT Overlay requires a Spotify app for it to function properly (not the Spotify client). A new app has to be created in the Spotify Developer Dashboard, open the dashboard by clicking the button below. You may need to log in to Spotify."
                   })
            @await Html.PartialAsync("_Text", new TextModel
                   {
                       Text = "Add the following URI to the \"Redirect URI\":"
                   })
            @await Html.PartialAsync("_CopyTextField", new InputModel
                   {
                       Id = "spotifyCallbackCopy",
                       Value = "http://localhost:8001/configuration/SpotifyCallback"
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "spotifyDashboard",
                       Value = "Open Spotify Dashboard",
                       OnClick = "spotifyDashboard()"
                   })

            <hr />
            

            @await Html.PartialAsync("_Header", new TextModel
                   {
                       Text = "Pulsoid"
                   })
            @await Html.PartialAsync("_SecretField", new InputModel
                   {
                       Label = "Pulsoid Access Token",
                       Id = "pulsoidAccessToken",
                       Value = ""
                   })
            @await Html.PartialAsync("_Button", new InputModel
                   {
                       Id = "pulsoidDashboard",
                       Value = "Open Pulsoid Dashboard",
                       OnClick = "pulsoidDashboard()"
                   })
        </div>
    </div>
    <div id="settingsBottomBar">
        @await Html.PartialAsync("_Button", new InputModel
               {
                   Id = "saveSettings",
                   Value = "Save",
                   OnClick = "saveConfig()"
               })
    </div>
</div>
