@page
@using CutOverlay.Models
@model OverlayBrbModel
@{
}

<div id="panelOverColor"></div>
<div id="panelOverColorGradient"></div>
<div id="startingHeaderDiv">
    <p id="startingHeader" style="font-size: 110px; top: -20px;">Be right back!</p>
    <p id="startingHeaderShadow" style="font-size: 110px; top: -20px;">Be right back!</p>
</div>

<div id="panelBottomGradient" style="display: none;"></div>
<div id="panelBorders">
    <div id="borderBottom"></div>
    <!--<div id=borderRightChat></div>-->
</div>
<div id="panelBottomBackgroundAnimation"></div>

@await Html.PartialAsync("_BottomPanel")

@await Html.PartialAsync("_PanelAlert")

@await Html.PartialAsync("_SongStatus")

<script src="~/js/site.js"></script>
<script src="~/js/songStatus.js"></script>