@page
@model OverlayGame1Model
@{
}

<div id="panelBottomGradient" style="display: none;"></div>
<div id="panelBorders">
    <div id="borderBottom"></div>
    <!--<div id=borderRightChat></div>-->
</div>
<div id="panelBottomBackgroundAnimation"></div>

@await Html.PartialAsync("_BottomPanel")

@await Html.PartialAsync("_PanelAlert")

<script src="~/js/site.js"></script>