@page
@using CutOverlay.Models
@model OverlayStartingModel
@{
}

<div id="panelOverColor"></div>
<div id="panelOverColorGradient"></div>
<div id="startingHeaderDiv">
    <p class="overlayMessage startingHeader">
        <b>Starting soon</b>
        <br>
        I'm currently setting everything up, please hold tight!
    </p>
    <p class="overlayMessage startingHeader">
        <i class="fa-solid fa-triangle-exclamation"></i> <b>WARNING:</b> This stream may include content that could trigger epileptic seizures.
        <br>
        Please watch with caution!
    </p>
    <p class="overlayMessage startingHeader">
        <b>Want to request songs?</b> Use <b class="headerCommand">!bsrhelp</b> command in the chat for information how to do that.
    </p>
    <p class="overlayMessage startingHeader">
        You can find my socials by typing the command <b class="headerCommand">!socials</b> in the chat. <i class="fa-solid fa-heart"></i>
    </p>
</div>

<div id="panelBottomGradient" style="display: none;"></div>
<div id="panelBorders">
    <div id="borderBottom"></div>
    <!--<div id=borderRightChat></div>-->
</div>
<div id="panelBottomBackgroundAnimation"></div>

@await Html.PartialAsync("_BottomPanel")

@await Html.PartialAsync("_PanelAlert")

@await Html.PartialAsync("_SongStatus")

<script src="~/js/site.js"></script>
<script src="~/js/songStatus.js"></script>