@page
@using CutOverlay.Models
@model OverlayGame1Model
@{
}

<div id="panelBottomGradient" style="display: none;"></div>
<div id="panelBorders">
    <div id="borderBottom"></div>
    <!--<div id=borderRightChat></div>-->
</div>
<div id="panelBottomBackgroundAnimation"></div>

<div class="chat-container" style="left: 20px; right: auto;">
    <div class="chat-messages"></div>
</div>
<div class="chat-container-shadow" style="left: 20px; right: auto;">
    <div class="chat-messages"></div>
</div>

<div id="panelBottom">
    <div class="panelItem" style="width: 170px;">
        @await Html.PartialAsync("_StylizedHeader", new TextModel
               {
                   Text = Model.TimeZoneString,
                   StyleId = "timezoneText"
               })
        @await Html.PartialAsync("_ClockText")
    </div>

    <div class="panelItem" style="display: none; width: 120px;">
        @await Html.PartialAsync("_StylizedHeader", new TextModel
               {
                   Text = "HEART",
                   StyleId = "heartRate"
               })
        @await Html.PartialAsync("_HeartRateText")
    </div>

    <div class="panelItem" style="width: 250px;">
        @await Html.PartialAsync("_StylizedHeader", new TextModel
               {
                   Text = "",
                   StyleId = "progressHeader"
               })
        @await Html.PartialAsync("_StylizedText", new TextModel
               {
                   Text = "",
                   StyleId = "progressText"
               })
    </div>
</div>

<!--img id="imageDefault" src="img/cover-shadow.png" alt=""-->

<div id="statusDiv">
    <img id="image" alt="">
    <img id="image2" src="img/Snip_Artwork.jpg" alt="">
    <div id="smalldiv">
        <div id="artistNameDiv">
            <p id="artist"> </p>
            <p id="artistShadow"> </p>
        </div>
        <br>
        <div id="songNameDiv">
            <p id="song"> </p>
            <p id="songShadow"> </p>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
<script src="~/js/chat.js"></script>