@page
@model OverlayChatModel
@{
}

<div id="panelOverColor"></div>
<div id="panelOverColorGradient"></div>

<div id="panelBottomGradient" style="display: none;"></div>
<div id="panelBorders">
    <div id="borderBottom"></div>
    <!--<div id=borderRightChat></div>-->
</div>
<div id="panelBottomBackgroundAnimation"></div>

@await Html.PartialAsync("_BottomPanel")

@await Html.PartialAsync("_PanelAlert")

@await Html.PartialAsync("_SongStatus")

<script src="~/js/site.js"></script>
<script src="~/js/songStatus.js"></script>