:root {
	--background-color: #1e1e1e;
	--background-border-color: #2a2a2a;
	--background2-color: #303030;
	--background2-border-color: #4c4c4c;
	--accent-color: #bd5989;
	--accent-alternative-color: #ff97c9;
}

body {
	background-color: #181818;
	font-family: 'Geologica', sans-serif;
}

input, select, textarea, button {
	font-family: 'Geologica', sans-serif;
	transition: 0.2s;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: solid;
	outline-color: transparent;
	outline-width: 1px;
}

input:focus { border-color: var(--accent-alternative-color); }

hr {
	border: none;
	border-bottom: solid;
	border-color: #323232;
	border-width: 1px;
	margin: 30px 0;
}



/* IDs and class references */

.draggableWindow {
	align-items: stretch;
	background-color: var(--background-color);
	border: solid;
	border-color: var(--background-border-color);
	border-radius: 10px;
	border-width: 1px;
	box-shadow: 0 0 20px #00000096;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	min-height: 120px;
	min-width: 300px;
	overflow: auto;
	padding: 0;
	position: absolute;
	resize: both;
}

.draggableWindowContent {
	display: flex;
	flex-direction: column;
	height: inherit;
	overflow-y: auto;
	padding: 10px 20px;
	width: initial;
}

.draggableWindowContent::-webkit-scrollbar { width: 5px; }

.draggableWindowContent::-webkit-scrollbar-track {
	background: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

.draggableWindowContent::-webkit-scrollbar-thumb {
	background: #eee1;
	border-radius: 2.5px;
}

.draggableWindowContent::-webkit-scrollbar-thumb:hover { background: #eee5; }

.draggableWindowHeader {
	border-bottom: solid;
	border-color: var(--background-border-color);
	border-width: 1px;
	box-shadow: 0px 5px 10px #00000029;
	clip-path: inset(0px 0px - 30px 0px);
	height: 20px;
	max-height: 20px;
	padding: 5px;
	width: calc(100% - 10px);
}

.draggableWindowHeader span {
	color: white;
	user-select: none;
}

.closeWindowButton {
	background: url('../img/xmark-solid.svg');
	background-color: #ffffff00;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius: 50%;
	content: '';
	cursor: pointer;
	float: right;
	height: 20px;
	line-height: 1;
	text-align: center;
	transition: 0.1s;
	user-select: none;
	width: 20px;
}

.closeWindowButton:hover { background-color: #ffffff1c; }

.closeWindowButton:active { background-color: #ffffff6c; }

.toolboxButton {
	background-color: #ffffff00;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: solid;
	border-color: #ffffff00;
	border-radius: 5px;
	border-width: 1px;
	content: '';
	cursor: pointer;
	height: 32px;
	line-height: 1;
	text-align: center;
	transition: 0.1s;
	user-select: none;
	width: 32px;
}

.toolboxButton:hover {
	background-color: #ffffff1c;
	border-color: #ffffff2c;
}

.toolboxButton:active {
	background-color: #ffffff6c;
	border-color: #ffffff7c;
}

.draggableWindowFooter {
	border-color: var(--background-border-color);
	border-top: solid;
	border-width: 1px;
	box-shadow: 0px -5px 20px #0000005e;
	clip-path: inset(-30px 0px 0px 0px);
	height: 32px;
	max-height: 32px;
	padding: 10px;
	text-align-last: right;
	width: calc(100% - 20px);
}

.label {
	color: #a7a7a7;
	display: block;
	font-weight: 200;
	padding-bottom: 10px;
	user-select: none;
	width: 100%;
}

.header {
	color: var(--accent-alternative-color);
	font-size: 28px;
	font-weight: bold;
}

.settingsSection {
	margin-bottom: 20px;
	margin-top: 15px;
}

.settingsInput, .settingsInputNoSave { margin-bottom: 10px; }

.settingsInput .label, .settingsInputNoSave .label {
	color: white;
	font-weight: normal;
}

.settingsInput input[type="text"], .settingsInput input[type="password"],
.settingsInputNoSave input[type="text"], .settingsInputNoSave input[type="password"] {
	background-color: var(--background2-color);
	border: solid;
	border-color: var(--background2-border-color);
	border-radius: 5px;
	border-width: 1px;
	color: white;
	font-size: 16px;
	padding: 4px;
	transition: 0.2s;
	width: calc(100% - 10px);
}

.settingsInput input[type="text"]:focus, .settingsInput input[type="password"]:focus,
.settingsInputNoSave input[type="text"]:focus, .settingsInputNoSave input[type="password"]:focus { outline-color: var(--accent-alternative-color); }

.copyField { padding: 10px; }

.copyField input[type="text"] {
	background-color: var(--background2-color);
	border-color: var(--accent-alternative-color);
	padding-right: 30px;
	text-overflow: ellipsis;
	width: calc(100% - 36px);
}

.copyField input[type="text"]:hover {
	background-color: var(--background2-color);
	border-color: var(--accent-alternative-color);
}

.copyField .copyIcon {
	background-color: var(--background2-border-color);
	background-image: url(../img/clipboard-regular.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	border: solid;
	border-color: #ffffff21;
	border-radius: 5px;
	border-width: 1px;
	cursor: pointer;
	display: block;
	float: right;
	height: 22px;
	margin-right: 3px;
	margin-top: -27px;
	position: sticky;
	transition: 0.2s;
	width: 22px;
}

.copyField .copyIcon:hover {
	background-color: var(--accent-color);
	border-color: var(--accent-alternative-color);
}

input[type="submit"] {
	background-color: var(--accent-color);
	border: solid;
	border-color: var(--accent-alternative-color);
	border-radius: 5px;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
}

input[type="submit"]:hover { background-color: var(--accent-alternative-color); }


.overlayDiv {
	border-bottom: solid;
	border-color: #ffffff1a;
	border-width: 1px;
}

.overlayDiv:nth-child(even) { background-color: #ffffff08; }

.draggableWindowFooter .button { float: right; }

.draggableWindowFooter span {
	color: var(--accent-alternative-color);
	display: inherit;
	float: right;
	height: 100%;
	line-height: 30px;
	margin-right: 20px;
}

.saveStatus {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: saveStatusAnimation;
}

@keyframes saveStatusAnimation {
	0% { opacity: 1; }

	90% { opacity: 1; }

	100% { opacity: 0; }
}