@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Geologica', sans-serif;
	height: 100%;
	margin: 0;
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#startingHeaderDiv {
	height: 100%;
	left: 0;
	margin-left: 10px;
	margin-top: 36px;
	padding-left: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 23;
}

#startingHeader, #startingHeaderShadow {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #ff0000 0%, #ffffff 100%);
	background-clip: text;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 38px;
	font-weight: 600;
	margin-left: 0;
	margin-top: -20px;
	padding: 0;
	position: absolute;
	transition: 0.4s;
	z-index: 25;
}

#startingHeaderShadow {
	background: none;
	text-shadow: 0 0 8px #111111, 0 0 8px #111111;
	transition: 0.4s;
	z-index: 24;
}

#panelBorders {
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 20;
}

#borderBottom {
	animation: linear infinite borderBottomGradient 30s;
	background: linear-gradient(90deg, #000000 0%, #ffffffff 5%, #000000 10%, #000000 50%, #ffffffff 55%, #000000 60%);
	background-repeat: repeat;
	background-size: 500% 100%;
	bottom: 98px;
	height: 2px;
	left: 0;
	position: absolute;
	width: 1920px;
	z-index: 21;
}

#borderRightChat {
	background-color: white;
	height: 980px;
	position: absolute;
	right: 700px;
	top: 0;
	width: 2px;
	z-index: 21;
}

#panelBottomGradient {
	background: linear-gradient(0deg, #00000056 0%, #000000b7 70%, #000000 100%);
	bottom: 0;
	height: 100px;
	left: 0;
	position: absolute;
	position: absolute;
	transform-origin: bottom left;
	transition: 0.4s;
	width: 1920px;
	z-index: 2;
}

#panelBordersBottom {
	background-image: url(../img/Panel_Bottom_5.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1080px;
	position: absolute;
	width: 1920px;
	z-index: 20;
}

#screenRef {
	background-image: url(../img/ScreenSize.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1080px;
	position: absolute;
	transform-origin: top left;
	width: 1920px;
	z-index: -2;
}

#chatBox {
	background-image: url(../img/chatborder.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	position: absolute;
	right: 45px;
	top: 30px;
	transform-origin: top left;
	width: 600px;
	z-index: 1;
}

#panelOverColor {
	filter: brightness(0.5);
	height: 980px;
	left: 0;
	position: absolute;
	position: absolute;
	top: 0;
	transform-origin: top left;
	transition: 0.4s;
	width: 100%;
	z-index: 1;
}

#panelOverColorGradient {
	filter: brightness(0.6);
	height: 980px;
	left: 0;
	position: absolute;
	position: absolute;
	top: 0;
	transform-origin: top left;
	width: 100%;
	z-index: 1;
}

#panelBottom {
	bottom: 0;
	display: flex;
	flex-flow: row-reverse;
	height: 100px;
	left: 0;
	position: absolute;
	position: absolute;
	transform-origin: bottom left;
	transition: 0.4s;
	width: 100%;
	z-index: 1;
}

.panelBottomClean { background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%) !important; }

#panelBottom .panelItem {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 15px;
	padding: 2.5px 0;
	width: auto;
	z-index: 6;
}

#panelBottomBackgroundAnimation {
	animation: linear infinite panelBottomBackgroundAnimation 5s;
	background-image: url(../img/Mask2.png);
	background-repeat: repeat;
	background-size: 100%;
	bottom: 0;
	filter: hue-rotate(0deg) saturate(100%) brightness(100%);
	height: 100px;
	left: 0;
	position: absolute;
	transform-origin: bottom left;
	transition: 0.4s;
	width: 1920px;
	z-index: 2;
}

#panelSideSmall {
	height: 980px;
	position: absolute;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: top right;
	transition: 0.4s;
	width: 192px;
	z-index: 1;
}

#panelChat {
	height: 980px;
	position: absolute;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: top right;
	transition: 0.4s;
	width: 700px;
	z-index: 1;
}

#chatBackgroundAnimation {
	animation: linear infinite chatBackgroundAnimation 10s;
	background-image: url(../img/Mask1.png);
	background-repeat: repeat;
	background-size: 200%;
	filter: hue-rotate(0deg) saturate(100%) brightness(100%);
	height: 980px;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: top right;
	transition: 0.4s;
	width: 700px;
	z-index: 2;
}

#statusDiv {
	bottom: 8px;
	height: 80px;
	justify-content: flex-start;
	left: 10px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	transform-origin: bottom left;
	width: calc(100% - 20px);
	z-index: 2;
}

#smalldiv {
	height: 90px;
	margin-left: 79.5px;
	margin-top: -90px;
	overflow: hidden;
	padding: 0;
	width: 50%;
}

#divright {
	height: 90px;
	margin-left: 79.5px;
	margin-top: -90px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 20px;
	width: 50%;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100px;
	z-index: 2;
}

#imageDefault {
	border-radius: 10px;
	bottom: 8px;
	box-shadow: 0 0 8px #111111;
	height: 80px;
	left: 10px;
	margin-left: 0;
	padding: 0;
	position: absolute;
	width: 80px;
	z-index: 2;
}

#image {
	border-radius: 10px;
	height: 80px;
	margin-left: 0;
	padding: 0;
	position: relative;
	width: 80px;
	z-index: 5;
}

#image2 {
	border-radius: 10px;
	height: 80px;
	margin-left: -84px;
	padding: 0;
	position: relative;
	width: 80px;
	z-index: 10;
}


body {
	background-color: #ffffff;
	margin: 0 !important;
	padding: 0 !important;
}

#artist, #artistShadow, #mapper, #mapperShadow {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #cccccc 0%, #ffffff 80%);
	background-clip: text;
	color: #ffffff;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 14px;
	padding-left: 10px;
	position: absolute;
	transition: 0.4s;
	z-index: 3;
}

#artistShadow, #mapperShadow {
	background: none;
	text-shadow: 0 0 3px #111111a1, 0 0 3px #111111;
	z-index: 2;
}

#songNameDiv {
	height: 100%;
	left: 0;
	margin-left: 10px;
	margin-top: 36px;
	padding-left: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

#song, #songShadow {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #444444 0%, #ffffff 50%);
	background-clip: text;
	color: #ffffff;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 30px;
	font-weight: 800;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
	position: absolute;
	transition: 0.4s;
	z-index: 3;
}

#songShadow {
	background: none;
	text-shadow: 0 0 8px #111111d0, 0 0 8px #111111d0;
	z-index: 2;
}

.pDiv {
	height: 42px;
	z-index: 2;
}

.pDiv p:nth-child(1), .pDiv p:nth-child(2) {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #444444 0%, #ffffff 50%);
	background-clip: text;
	color: #ffffff;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	transition: 0.4s;
	z-index: 3;
}

.pDiv p:nth-child(2) {
	background: none;
	text-shadow: 0 0 8px #111111d0, 0 0 8px #111111d0;
	z-index: 2;
}

p { white-space: nowrap; }

.scrolling { /*animation: slide 20s linear infinite;*/ }

.chat-container, .chat-container-shadow {
	background: none;
	border-radius: 5px;
	bottom: 120px;
	height: 980px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 20px;
	width: 500px;
	z-index: 20;
}

.chat-container-shadow {
	filter: blur(3px) brightness(0);
	z-index: 18;
}

.chat-messages {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.chatUser {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(-60deg, #cccccc 0%, #ffffff 50%);
	background-clip: text;
	font-weight: 800;
	padding-right: 15px;
}

.message {
	animation: slide-in 0.5s ease;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	border-radius: 5px;
	bottom: 0;
	color: white;
	display: block;
	font-family: 'Geologica', sans-serif;
	font-size: 32px;
	font-weight: 500;
	margin-top: 10px; /* Adjusting margin top */
	padding: 0;
}

.message span:last-child {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(-60deg, #9b9b9b 0%, #ffffff 50%);
	background-clip: text;
}

.message span:last-child img {
	-webkit-text-fill-color: initial;
	margin: -3px 2px;
	width: 26px;
}

.highlighted {
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
	background: linear-gradient(-60deg, #ffffff3b 0%, #ffffff07 50%);
	border: 2px solid #299fff;
	padding: 5px;
}

.first-msg {
	border: 2px solid #299fff;
	padding: 5px;
}

.badge {
	height: 26px;
	margin: -4px 4px -4px 0;
	width: 26px;
}

.broadcaster::before { content: url("../img/broadcaster.png"); }

.moderator::before { content: url("../img/mod.png"); }

.vip::before { content: url("../img/vip.png"); }

.subscriber::before { content: url("../img/subscriber.png"); }

.founder::before { content: url("../img/1st.png"); }

#progress {
	background: white;
	bottom: 0;
	height: 2px;
	left: 0;
	position: absolute;
	transition: 0.1s;
	width: 100%;
	z-index: 40;
}

.styledHeaderDiv {
	align-items: end;
	display: flex;
	flex-flow: row-reverse;
	height: 42px;
	width: auto;
	z-index: 2;
}

.styledHeaderDiv .styledHeaderText, .styledHeaderDiv .styledHeaderTextShadow {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #444444 0%, #ffffff 50%);
	background-clip: text;
	bottom: 0;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	padding: 0 5px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	transition: 0.4s;
	z-index: 3;
}

.styledHeaderDiv .styledHeaderTextShadow {
	background: none;
	margin-bottom: 56px;
	position: absolute;
	text-shadow: 0 0 8px #111111d0, 0 0 8px #111111d0;
	z-index: 2;
}

.styledTextDiv {
	align-items: end;
	display: flex;
	flex-flow: row-reverse;
	height: 42px;
	width: auto;
	z-index: 2;
}

.styledTextDiv .styledText, .styledTextDiv .styledTextShadow {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to top, #444444 0%, #ffffff 50%);
	background-clip: text;
	background-clip: border-box;
	bottom: 0;
	display: inline-block;
	font-family: 'Geologica', sans-serif;
	font-size: 30px;
	font-weight: 800;
	margin: 0;
	padding: 0 5px;
	position: relative;
	text-align: right;
	transition: 0.4s;
	z-index: 3;
}

.styledTextDiv .styledTextShadow {
	background: none;
	margin-bottom: 12px;
	position: absolute;
	text-shadow: 0 0 8px #111111d0, 0 0 8px #111111d0;
	z-index: 2;
}


#panelOverColor { opacity: 0.8; }

#panelBorders, #panelBottom, #panelChat { opacity: 0.9; }


@keyframes slide-up {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide {
	0% {
		/* left: 100%; */
		transform: translateX(290px);
	}

	100% {
		/* left: -100%; */
		transform: translateX(-100%);
	}
}

@keyframes chatBackgroundAnimation {
	0% { background-position: 0 0; }

	100% { background-position: 100% 0; }
}

@keyframes panelBottomBackgroundAnimation {
	0% { background-position: -1595px 0px; }

	100% { background-position: -1595px calc(100% - 100px); }
}

@keyframes borderBottomGradient {
	0% { background-position: 0 0; }

	100% { background-position: -500% 0; }
}