@model CutOverlay.Models.InputModel

<div class="settingsInput textField copyField">
    <span class="label">Click below to copy!</span>
    <input onclick="copyToClipboard()" type="text" id="@Model.Id" value="@Model.Value" readonly>
    <span onclick="copyToClipboard()" class="copyIcon"></span>
</div>

<script>
    function copyToClipboard() {
        var inputElement = document.getElementById("@Model.Id");
        inputElement.select();
        document.execCommand("copy");
    }
</script>
