@using CutOverlay.Models

<div id="panel-message-content" class="panelMessage">
    @await Html.PartialAsync("_StylizedText", new TextModel
           {
               Text = "",
               StyleId = "panelMessageContentSpan"
           })
</div>