@using InputModel = CutOverlay.Models.InputModel
@model InputModel

<div class="settingsInput textField">
    <span class="label">@Model.Label</span>
    <input type="password" id="@Model.Id" value="@Model.Value">
</div>