<div id="statusDiv">
    <img id="image" alt="">
    <img id="image2" src="img/Snip_Artwork.jpg" alt="">
    <div id="smalldiv">
        <div id="artistNameDiv">
            <p id="artist" class="overlayMessage"> </p>
        </div>
        <br>
        <div id="songNameDiv">
            <p id="song" class="overlayMessage"> </p>
        </div>
    </div>
</div>