@model CutOverlay.Models.TextModel

<div id="@Model.StyleIdDiv" class="styledHeaderDiv" style="height: calc(@{@Model.FontSize}px + 6px);">
    <p id="@Model.StyleIdText" class="styledHeaderText overlayMessage" style="width: 100%; text-align: @Model.AlignmentStyle; font-size: @{@Model.FontSize}px;">@Model.Text</p>
</div>